{% load i18n %}
<div class="inline form-horizontal">
    <div class="col-lg-2">
        <h3 class="control-label">{{ inline.opts.verbose_name_plural }}</h3>
    </div>
    <div class="col-lg-10">
        {{ inline.formset.errors }}
	    {{ inline.formset.management_form }}
	    {{ inline.formset.non_form_errors }}
	    <table id="{{ inline.opts.object_name }}-inline" class="table table-striped">
	        <thead>
	            <tr>{% for header in inline.get_headers %}
	                <th>{{ header }}</th>{% endfor %}
	                <th>{% trans 'Delete?' %}</th>
	            </tr>
	        </thead>
	        <tbody>{% for form in inline.formset.forms %}
	            <tr>{% for field in form.visible_fields %}
	                <td>
	                    {% if forloop.counter == 1 %}
	                        {% for field in form.hidden_fields %}
	                            {{ field }}
	                        {% endfor %}
	                    {% endif %}
	                    {{ field }}
	                </td>{% endfor %}
	            </tr>{% endfor %}
	        </tbody>
	    </table>
    </div>
</div>
